In [1]:
import numpy as np
import pandas as pd

In [9]:
data=pd.read_csv('data_merged.csv')

In [8]:
data.head()

,Unnamed: 0,4,8,13,14,15,16,17,18,19,...,257,258,259,260,261,262,263,264,265,266
0,0,80.0,51063.0,0.000134,0.000262,0.000439,0.046510,0.114171,0.153290,0.005142,...,0.005,1.487655,1.570576,0.773541,0.004160,0.971797,0.003283,1.097594,0.002344,b'WWW'
1,1,80.0,51094.0,0.000001,0.000173,0.000259,0.042580,0.082782,0.151153,0.004833,...,0.006,1.487655,1.570649,0.773541,0.005127,0.971797,0.004223,1.097594,0.003263,b'WWW'
2,2,80.0,51062.0,0.000001,0.000293,0.000517,0.046451,0.114882,0.149624,0.005026,...,0.005,1.487655,1.570568,0.773541,0.004144,0.971797,0.003254,1.097594,0.002305,b'WWW'
3,3,80.0,51089.0,0.000015,0.000326,0.000524,0.046915,0.116692,0.148243,0.004917,...,0.005,1.487655,1.570552,0.773541,0.004109,0.971797,0.003189,1.097594,0.002220,b'WWW'
4,4,80.0,51057.0,0.000077,0.000175,0.000349,0.042728,0.085012,0.149947,0.004664,...,0.005,1.487655,1.570552,0.773541,0.004110,0.971797,0.003191,1.097594,0.002222,b'WWW'

In [10]:
drops=['77','78','79','80','83','84']
data.drop(drops,axis=1,inplace=True)

data.shape

(377526, 243)

In [11]:
data.head()

,4,8,13,14,15,16,17,18,19,21,...,257,258,259,260,261,262,263,264,265,266
0,80.0,51063.0,0.000134,0.000262,0.000439,0.046510,0.114171,0.153290,0.005142,66.0,...,0.005,1.487655,1.570576,0.773541,0.004160,0.971797,0.003283,1.097594,0.002344,b'WWW'
1,80.0,51094.0,0.000001,0.000173,0.000259,0.042580,0.082782,0.151153,0.004833,66.0,...,0.006,1.487655,1.570649,0.773541,0.005127,0.971797,0.004223,1.097594,0.003263,b'WWW'
2,80.0,51062.0,0.000001,0.000293,0.000517,0.046451,0.114882,0.149624,0.005026,66.0,...,0.005,1.487655,1.570568,0.773541,0.004144,0.971797,0.003254,1.097594,0.002305,b'WWW'
3,80.0,51089.0,0.000015,0.000326,0.000524,0.046915,0.116692,0.148243,0.004917,66.0,...,0.005,1.487655,1.570552,0.773541,0.004109,0.971797,0.003189,1.097594,0.002220,b'WWW'
4,80.0,51057.0,0.000077,0.000175,0.000349,0.042728,0.085012,0.149947,0.004664,66.0,...,0.005,1.487655,1.570552,0.773541,0.004110,0.971797,0.003191,1.097594,0.002222,b'WWW'

In [12]:
data.columns

Index(['4', '8', '13', '14', '15', '16', '17', '18', '19', '21',
       ...
       '257', '258', '259', '260', '261', '262', '263', '264', '265', '266'],
      dtype='object', length=243)

In [15]:
null_col=data.columns[data.isna().any()].tolist()

In [22]:
print(null_col)

['81', '82', '85', '86', '111', '112', '113', '114', '122', '123', '124', '225', '242', '243', '244', '245', '252', '253', '254', '255', '260', '261', '262', '263', '264', '265']

In [21]:
data[null_col].isna().sum()

81     137413
82     137413
85      57608
86      57608
111      1529
112      1632
113      1529
114      1632
122       107
123       101
124       101
225     41808
242       155
243       155
244       155
245       155
252       436
253       436
254       436
255       436
260        71
261        71
262       538
263       538
264       538
265       538
dtype: int64

In [31]:
drop_col=['81','82','85','86','225']
data.drop(drop_col,axis=1,inplace=True)

In [33]:
data.shape

(377526, 238)

In [35]:
null_col=data.columns[data.isna().any()].tolist()
data[null_col].isna().sum()

111    1529
112    1632
113    1529
114    1632
122     107
123     101
124     101
242     155
243     155
244     155
245     155
252     436
253     436
254     436
255     436
260      71
261      71
262     538
263     538
264     538
265     538
dtype: int64

In [36]:
data[null_col]=data[null_col].fillna(data[null_col].mean())

In [43]:
null_col=data.columns[data.isna().any()].tolist()
data[null_col].isna().sum()

Series([], dtype: float64)

In [44]:
data.columns[data.isna().any()]

Index([], dtype='object')

In [45]:
data.to_csv('data_cleaned.csv',index=False)